<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="SchoolEntities" connectionString="metadata=res://*/IPTMODEL.csdl|res://*/IPTMODEL.ssdl|res://*/IPTMODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-R2B06FS;initial catalog=School;user id=sa;password=Admin;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>